/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:rgb(26, 26, 97);
    --secondary-color:rgb(63, 100, 63);
    --main-color:white;
}
/*Main Styling*/
body{
    font-family:'roboto' sans-serif ;
    padding: 10px;
    margin: 10px;
    line-height:1.5rem ;
    font-size: 1rem;
}
h3{
    float: inline-end;
}
h1{
    font-family: century;
    text-transform: uppercase;
font-size: xx-large;
letter-spacing: 5px;

}
h2{
    font-family: Franklin Gothic;
    color: rgb(25, 77, 59);
    letter-spacing: 3px;
    padding-bottom: 1.5rem;
    text-transform: capitalize;
}
p{
    text-transform: inherit;
    padding-bottom: 10px;
}
.head{
    text-transform: uppercase;
}
li{
    list-style: none;
}
a{
     text-decoration: none;
     color: white;
}
.header{
    background: rgb(26, 26, 97);
    align-content: center;
    padding-left: 170px;
    padding-top: 170px;
    height: 600px;
}
.nav-bar{
    float: right;

}
.nav-bar ul li{
    float: left;
}
.nav-bar ul li a{
    display:block;
    padding: 20px;
    padding-bottom: 20px;
}
.heading{
    display: flex;
    place-content: space-between ;
}
.hero-container{
    padding-top: 80px;
    text-align: center;
    margin-right: 64px;
}
.info{
    color: white;
    letter-spacing: 3px;
    font-size: 1.5rem;
    padding-bottom: 32px;
}
.btn{
    background:rgb(26, 26, 97) ;
    padding: 20px 10px;
    border: solid 1px white;
    text-transform: uppercase;
}
.btn:hover{
    background: rgb(109, 103, 103);
}
.features ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
    padding-top: 32px;
    background: white;
    text-align: center;
    letter-spacing: 3px;
}
.footer{
    background: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
}
.footer ul{
    display: flex;
}
.footer ul li{
    padding: 20px;
}
.home{
    padding-left: 40px;
    padding-top: 20px;
}

