/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:rgb(26, 26, 97);
    --secondary-color:rgb(63, 100, 63);
    --main-color:white;
}
/*Main Styling*/
body{
    font-family:'roboto' sans-serif ;
    padding: 10px;
    margin: 10px;
    line-height:1.5rem ;
    font-size: 1rem;
}
h3{
    float: inline-end;
}
h1{
    font-family: century;
    text-transform: uppercase;
font-size: xx-large;
letter-spacing: 5px;

}
h2{
    font-family: 'Franklin Gothic', serif; 
    /** 
     * For font names with spaces, prefer surrounding the names with '' some browsers won't like that.
     * I've also added serif to tell the broser that if it does not have 'Franklin Gothic' to use a serif font, you should
     * always add font alternatives to avoid having unexpected behavior on other browsers
     **/
    color: rgb(25, 77, 59);
    letter-spacing: 3px;
    padding-bottom: 1.5rem;
    text-transform: capitalize;
}
p{
    text-transform: inherit;
    padding-bottom: 10px;
}
.head{
    text-transform: uppercase;
}
li{
    list-style: none;
}
a{
     text-decoration: none;
     color: white;
}
.header{
    background: rgb(26, 26, 97);
    align-content: center;
    /**
     * The paddings here might look normal on a desktop but they are too big and push all your content,
     * You've also fixed the height of the header, this makes it pretty much unable to grow bigger in height when the content
     * is being "pushed"
     **/
    padding-left: 170px;
    padding-top: 170px;
    height: 600px;
}
.nav-bar{
    float: right;

}
.nav-bar ul li{
    float: left;
}
.nav-bar ul li a{
    display:block;
    padding: 20px;
    padding-bottom: 20px;
}
.heading{
    display: flex;
    place-content: space-between ;
}
.hero-container{
    padding-top: 80px;
    text-align: center;
    margin-right: 64px;
}
.info{
    color: white;
    letter-spacing: 3px;
    font-size: 1.5rem;
    padding-bottom: 32px;
}
.btn{
    background:rgb(26, 26, 97) ;
    padding: 20px 10px;
    border: solid 1px white;
    text-transform: uppercase;
}
.btn:hover{
    background: rgb(109, 103, 103);
}
.features ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
    padding-top: 32px;
    background: white;
    text-align: center;
    letter-spacing: 3px;
}
.footer{
    background: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
}
.footer ul{
    display: flex;
}
.footer ul li{
    padding: 20px;
}
.home{
    padding-left: 40px;
    padding-top: 20px;
}

/**
 * This will be applied for tablet screens and smaller, anything bigger than 768px will not read these css rules
 **/
@media screen and (max-width: 768px) {
    /**
     * flex-wrap: wrap tells the flex container to "break" the line and put items that can't fit in the flex down
     * See this: https://css-tricks.com/almanac/properties/f/flex-wrap/
     *
     * place-content: center; helps us tell the browser we want to center our items inside our flex
     **/
    .heading {
        flex-wrap: wrap;
        place-content: center;
    }
    /**
     * we add a margin to the logo so it's more spaced from the "August 24..." text
     **/
    .heading .logo {
        margin-bottom: 1.5rem;
    }
    /**
     * rather than adding paddings from left and top, we add a uniform padding from all sides
     * next we change the container to display as flex, set it to column and justify everything to center
     * this will make things look more centered on tablet
     **/
    .header {
        padding: 50px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    /**
     * remove the margin right to center the container
     **/
    .hero-container {
        margin-right: 0;
    }
    /**
     * Set our navbar as a centered flex so it looks aligned
     **/
    .nav-bar ul {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }
}

/**
 * This will be applied for tablet screens and smaller, anything bigger than 425px will not read these css rules
 * Keep in mind that the rules for tablet are being applied for mobile too because it's 425px is < than 768px
 **/
 @media screen and (max-width: 425px) {
    /**
     * first things first, your footer is overflowing on the right thus breaking the layout,
     * here's a gif to show you the problem: https://imgur.com/a/VDqApIL
     *
     * Let's fix the footer layout:
     * We set our footer as column-reverse to have the copyright down and the menu up
     * We add aa padding to keep it more uniform
     **/
     .footer {
        display: flex;
        flex-flow: column-reverse;
        align-items: center;
        padding: 1.5rem;
    }
    /** We set our footer menu as a vertical list **/
    .footer ul {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    /** We remove paddings to better center the copyright **/
    .footer .home {
        padding: 0;
    }
    /** Now let's fix the header, let's first remove the height so it takes all the space it needs **/
    .header {
        height: auto;
    }
    /** next we set our header menu as a list, just like .footer ul previously **/
    .nav-bar ul {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    /** We do the same thing with our features items so they line up vertically to display better **/
    .features ul {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}